@charset "UTF-8" ;

body{
    background-image: linear-gradient( #61add3, #6acec5be, #26B6C6);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color:  #eeeeee;
    
}

.destaque{
    background-color: #3f576550;
}

.principal{
    text-align: center;
    color: rgb(250, 252, 251);
    background-color: #365F73;
}

h2{
    color:(#80ABBF);

}
p{
    color: whitesmoke;
}
.basico{color: green;
    font-weight: bold;
    font-size: large;
    background-color: rgba(0, 128, 0, 0.105);

}
.intermediario{
    color: rgb(218, 218, 13);
    font-size: large;
    background-color: rgba(163, 163, 74, 0.105);
}
.avancado{
    color: rgb(3, 131, 252);
    font-size: large;
    background-color: rgba(3, 132, 252, 0.105);

}