@charset "UTF-8";

*{


    margin: 0px;
    padding: 0px;

}

body,html{
    background-color: lightgrey;

}


header{
    background-color: grey;
}

header > h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: none;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(59, 57, 57);
    color:white;
    border-top: 2px solid rgb(78, 75, 75);
}

menu > ul > li > a:hover {
    background-color: rgb(116, 116, 116);

}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

#burger{
    background-color: rgb(24, 23, 23);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

#burger:hover{
    background-color: white;
    color: black;

}


