@charset "UTF-8";

body
{
    background-color: rgb(187, 179, 105);
}
h1{
    color: rgb(117, 57, 0);background-color: rgba(156, 97, 20, 0.616);
}

h2{color:rgb(226, 15, 15);

}

p{
    text-align:justify;
    color: rgb(236, 2, 2);
}