@charset "UTF-8" ;

@font-face {
    font-family:indroid;
    src: url(fontes/idroid.otf) format('opentype');
}

body{
    background-color:#76ec93c2;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

section > h1{
    font-family :indroid;
    background-image: linear-gradient(#20ca6c62,#07381d00);
}
.bugdroid{
    margin: auto;

}

.irina{

}

section > h3{
    background-image: linear-gradient(#20ca6c62 #07381d00);
    font-family: indroid;
}


header{
    background-image: linear-gradient(#1fbe64,#135527);
    padding:3px 6px 1px 21px;
    margin: -20px -33px 0px -26px;
}
header > p{
    color:white
}


header > h1{
    color: whitesmoke;
}
 .links{
    text-align: left;
    text-decoration: none;

 }

 .links > a{
    color: white;
    padding-right: 20px;
    text-decoration: none;
 }

 section{
    margin:0px 186px;
    padding: 20px 67px 10px 30px;
    background-color: white;
 }
section > h1{
    background-image: linear-gradient(#20ca6c62 #07381d00);
    color: #135527;
    text-align: left;
}

section > h3{
    color: #07381d;
   background-image: linear-gradient(#20ca6c62 ,#07381d00);
    text-align: left;


}

.Conteudo2 > h3{
    background-image: linear-gradient(#20ca6c62 ,#07381d00);
    text-align: left;
    font-family: indroid;
    
}

.video{
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 6px 185px 7px 184px;
}

footer{
    background-color:#a1eeb4;
    margin: -19px 24px -8px 6px;
    border-radius: 20px;
    margin: auto;
}

footer > ul{
    background-color:#a1eeb4 ;
    color:black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
     
}

footer > h4{
    background-color: #3b804cc2;
    text-align: left;
    padding: 10px;
    font-size: x-large;
border-radius: 20px;
   
}
.video{
    background-color: #07381d;
}

.final{
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 6px 185px 7px 184px;
    margin: auto;
}

