@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /height: 100%;*/
}
body{
   
   background-image: linear-gradient(to right,#747F7F,#1B7F79);
}
main{
    background-color:#627473;
    border-radius:40px ;
    box-shadow: 8px 8px 8px #3d4242;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
    color: #0d3d3a;
    text-align: center;
    text-shadow:1px 1px 4px #e7e7e76b;
}
h2{
    color: #0d3d3a;
    text-shadow:1px 1px 4px #e7e7e76b;
}
p{
    text-align: justify;
    color: white;
}